.order-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.order-card {
  padding: 30px;
  max-width: 500px;
  width: 100%;
  background: #f3f7fb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.order-title {
  text-align: center;
  color: #2a4d69;
  margin-bottom: 25px;
}

.order-detail p {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
  color: #2a4d69;
}

.delivery-title {
  margin-top: 30px;
  font-weight: bold;
  color: #2a4d69;
}

.delivery-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
}

.delivery-btn,
.pickup-btn {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 10px;
}

.btn-icon {
  margin-right: 6px;
}
